PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_mysql
DB_NAME=neuroflux

JWT_SECRET=sua_chave_secreta_de_access_token
JWT_REFRESH_SECRET=sua_chave_secreta_de_refresh_token
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN_MS=604800000

ADMIN_NAME=Gabriel Admin
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=123456
ADMIN_RESET_PASSWORD=false
